* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #fee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}

.navbar li {
    display: flex;
}

.logo {
    padding-left: 1%;
}

.logo a {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 4px;
    letter-spacing: 1px;
    font-size: 12px;
}

.menu ul li a:hover {
    border-bottom: 4px solid #000;
    transition: 0.4s;
}

.signup a {
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 7px;
    border: 2px solid #000000;
}

.signup a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: 0.6s;
}

body {
    background: #fee;
    min-height: 100vh;
    
}

.animate {
    /* overflow: hidden; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: -10;
}

.animate img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}

#text {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.seec {
    position: relative;
    padding: 100px;
    background: rgb(44, 44, 44);
}

.seec h2 {
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.seec p {
    color: #ffffff;
}

.places{
    border:20px #ffffff;
    padding: 50px 0 20px;
}
.cards {
    margin: 0;
    padding: 0;
}

#im{
    margin: 0px;
    padding-top: 200px;
    /* border: #ffffff 2px solid; */
    margin: 40px 0 0 0; 
    top: 0;
    background-color: #ffffff;
    min-width: 354px;
    /* background-image: url(similun.jpg); */
    background-size: cover;
    
}

.im1 {
    background-image: url(similun.jpg);
    background-size: cover;
}.im2 {
    background-image: url(koh_samet.jpg);
    background-size: cover;
}.im3 {
    background-image: url(pp.jpg);
    background-size: cover;
}.im4 {
    background-image: url('https://youimg1.tripcdn.com/target/100d1f000001goty9CA77_D_1180_558.jpg');
    background-size: cover;
}.im5 {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/14/cf/47/lonely-beach.jpg?w=800&h=-1&s=1');
    background-size: cover;
}.im6 {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/4b/5d/c8/caption.jpg?w=1200&h=-1&s=1&cx=2606&cy=1838&chk=v1_a61182fd4040ed4ecc4e');
    background-size: cover;
}
.places p {
    color: #050505;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    
}.places a {
    color: #0f0f0f;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    padding: 4px;
    background-color: #d8d8d8;
}
.places .card {
    background-color:rgb(231, 230, 230) ;
    border-radius: 2px;

    
} 
.card span{
    padding: 0 10px;
    display: flex;;
    justify-content: space-between;
}


.gar {
    position: absolute;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0 / 0.5 ) (0, 0, 0/0), url('https://www.pinterest.com/pin/353532639514152917/'));
}

/* 
#text{
    animation-direction: box-jumping 1s 1s 3;
}
@keyframes box-jumping {
    0%{transform: translateY(0%);
        animation-timing-function: ease-out;
    } 

    50%{transform: translateY(-100%);
    animation-timing-function: ease-in;
    }

    100%{transform: translateY(0%);
        animation-timing-function: ease-in;
        }
} */








































































.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -274vh;
    left: 0;
    width: 100%;
    height: 80px;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
    transition: 0.4s;
}